<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/investigacion</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">postgres</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="show_sql">false</property>
		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property> 
		
		<!--
		<mapping class="modelo.AsignacionProduccion" />
		<mapping class="modelo.OrdenProduccion" />
		<mapping class="modelo.PlanProduccion" />
		-->
		<mapping class="modelo.Linea"  />
		<mapping class="modelo.Pedido" />
		<mapping class="modelo.Producto" />
		<mapping class="modelo.TasaProduccion" />
		<mapping class="modelo.Inventario" />
		<mapping class="modelo.Cliente" />
		<mapping class="modelo.Formato"/>
		
	</session-factory>
</hibernate-configuration>